---
layout: default
title: Contacta con Grafic-Art Huila
h1: Somos Grafic-Art Huila
description: Pídenos tu publicidad. Estamos al servicio de todo el Huila y del Putumayo. Somos publicidad efectiva. Somos Grafic-Art
---
<header class="header-contacto">
  <h1>{{page.h1}}</h1>
</header>
<section class="about">
  <h2>Grafic-Art es la historia de jóvenes emprendedores</h2>
  <p>Desde el año 2019, estamos trabajando para ser los mejores en la publicidad de quienes confían en nosotros. Claro,
    la pandemia del Covid fue un reto para nosotros. Pero también fue tiempo que supimos aprovechar.</p>
  <p>Muchos de nuestro vecinos de Pitalito y sus alrededores comenzaron nuevos proyectos para superar la crisis. Y
    nosotros ya estábamos preparados para abordar ese reto.</p>
  <p>Como empresa, nuestra palabra favorita es la <strong>Efectividad.</strong> La belleza y el buen gusto son pilares
    de nuestro trabajo. Pero entendemos que cada que alguien hace una inversión para su trabajo está buscando un retorno
    económico. Está buscando <strong>resultados positivos que vengan de su publicidad pagada.</strong></p>
  <p>Esto es lo que nos destaca de nuestra competencia. Siempre estamos analizando todo el entorno en el que se
    desarrolla nuestro trabajo. Y cada caso es un mundo nuevo.</p>
  <p>Por estas razones, en <strong>Grafic-Art tienes la garantía que te ofrece nuestra experiencia y nuestro compromiso
      con la eficiencia.</strong></p>
  <em>Grafic-Art es publicidad impresa y digital efectiva para los emprendodres del Huila</em>
</section>
<section class="instagram">
  <h2>Mira una muestra de nuestros logros</h2>
  {% include instagram.html username="jhvanderschee" %}
  <p>Puedes ver más en nuestro Instagram. <strong>Solo haz clic en una de las fotografías.</strong></p>
</section>
<script src="/js/jquery.min.js"></script>
{% include form.html %}
{% include footer.html %}