<footer>
  <div>
<lord-icon
    src="https://cdn.lordicon.com/zpxybbhl.json"
    trigger="loop"
    colors="primary:#ffffff ,secondary:#fd7414"
    style="width:250px;height:250px">
</lord-icon>
<h4>¿También te gusta avanzar?</h4>
<p>Entonces visítanos o ingresa a la sección de <a href="{{ 'contacto' | relative_url }}" title="Sección de contacto de GRAFIC-Art Pitalito" style="font-family: var(--fuenteTitulos); text-transform: uppercase;">Contacto</a></p>
</div>
  <a href="{{ '/' | relative_url }}" title="Home GRAFIC-Art">Inicio</a>
  <a href="{{ 'blog' | relative_url }}" title="Página del blog de GRAFIC-Art">Blog</a>
  <a href="{{ 'contacto' | relative_url }}" title="Página de contacto de GRAFIC-Art">Contacto</a>
  <a href="{{ 'legal' | relative_url }}" title="Página con las condiciones del uso del sitio web, el manejor de datos y la privacidad del usuario en esta página web" rel="nofollow">Avisos legales</a>

  <p>&copy; GRAFIC-Art {{ "now" | date:"%Y"}} - Todos los derechos reservados.</p>

</footer>