.header-contacto{
  background-image: url("{{site.baseurl}}/img/contacto.webp");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contacto h1{
  color: var(--principal);
  text-shadow: 0 0 14px rgba(0, 0, 0, 0.9);
  font-size: 4rem;
}