footer {
  background-color: var(--gris);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: white;
}

footer div{
  width: 100%;
  padding: 7vh 0;
}

footer a,
footer p {
  display: inline-block;
  font-family: var(--fuenteTitulos)
}

footer a {
  color: var(--principal);
  margin: 1rem .5rem;
  font-weight: 700
}