.portafolio {
  position: relative;
  display: grid;
  gap: 2rem;
}

.portafolio h2,
.pruebas h2 {
  max-width: 90vw;
  justify-self: center;
}

.portafolio>p,
.pruebas p {
  width: 80vw;
  justify-self: center;
}

.portafolio div {
  background-color: #fda600;
  background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 1.5rem;
}

.portafolio .botones,
.pruebas .botones,
.huila .botones {
  justify-self: center;
}

.portafolio div article {
  border-radius: 50px;
  background: linear-gradient(225deg, #ff7c15, #e46812);
  box-shadow: -10px 10px 30px #d76311,
    10px -10px 30px #ff8517;
  padding: 1.5rem;
  color: white;
}

.portafolio div article img {
  border-radius: 25px;
  box-shadow: var(--shadow);
}

/* Acordión de imágenes  */
.pruebas {
  position: relative;
  width: 100%;
  display: grid;
  gap: 3rem;
}

.acordeon {
  position: relative;
}

.acordeon p {
  position: absolute;
  left: 2;
  bottom: 0;
  color: white;
  font-weight: 700;
  margin: 1rem;
}

.gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 0.8s ease;
}

/* endAcordión de imágenes */

.suministros {
  display: grid;
  gap: 3rem;
  padding: 2rem;
}

.suministros div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.suministros div article {
  width: 150px;
  border-radius: 25px;
  background: #ffffff;
  box-shadow: -10px 10px 30px #d9d9d9,
    10px -10px 30px #ffffff;
  overflow: hidden;
}

.suministros div article:hover {
  -webkit-animation: heartbeat 1s ease-in-out 2 both;
  animation: heartbeat 1s ease-in-out 2 both;
}

@-webkit-keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.suministros div article img {
  width: 100%;
}

.suministros div article h4,
.suministros div article p {
  text-align: center;
}

.huila {
  height: 80vh;
  background-image: linear-gradient(rgba(14, 14, 14, 0.45),
    rgba(14, 14, 14, 0.45)),
  /* your image */
  url({{site.baseurl}}/img/huila.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: grid;
  place-content: center;
}

.huila h2 {
  color: white;
  max-width: 80vw;
  text-shadow: var(--shadow);
}