@media screen and (min-width:600px) {
  header {
    justify-content: center;
  }
}

@media screen and (min-width:767px) {
  header {
    height: 70vh;
  }

  .gallery-wrap {
    height: 80vh;
  }

  .item:hover {
    flex: 7;
  }

}


@media screen and (min-width:992px) {
  body {
    gap: 10rem;
  }

  header {
    padding: 4rem;
  }

  header h1 {
    width: 60vw;
    text-shadow: var(--shadow);
  }

  header img {
    border-radius: 0 0 0 25px;
  }

  h2 {
    max-width: 70vw;
    justify-self: center;
  }

  .portafolio>p,
  .pruebas p {
    width: 60vw;
  }

  .portafolio div {
    padding: 5rem;
    place-content: center;
  }

  .portafolio div article:hover {
    -webkit-animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-fwd-top 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes slide-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
    }

    100% {
      -webkit-transform: translateZ(16px) translateY(-10px);
      transform: translateZ(16px) translateY(-10px);
    }
  }

  @keyframes slide-fwd-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
      transform: translateZ(0) translateY(0);
    }

    100% {
      -webkit-transform: translateZ(16px) translateY(-10px);
      transform: translateZ(16px) translateY(-10px);
    }
  }


  q {
    padding: 3rem;
    text-align: center;
  }

  .acordeon p{
    font-size: 2rem;
  }

  .suministros{
    padding: 0;
    gap: 5rem;
    width: 60vw;
    place-content: center;
    justify-self: center;
  }

  .suministros div{
    gap: 1.5rem;
  }
}

@media screen and (min-width:1200px) {

  .portafolio div {
    grid-template-columns: repeat(5, 1fr);
  }

  .portafolio div article h3 {
    text-align: center;
  }
}