* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
  scroll-behavior: auto;
}

body {
  display: grid;
  gap: 3rem;
  background-color: var(--blanco);
  color: var(--grisFuentes);
  font-family: var(--fuenteTexto);
}

:root {
  --principal: #FD7414;
  --secundario: #FDA600;
  --accion: #FB4600;
  --grisFuentes: #141414;
  --gris1: rgba(191, 191, 191, 1);
  --gris2: rgba(140, 140, 140, 1);
  --gris3: rgba(89, 89, 89, 1);
  --gris4: rgba(64, 64, 64, 1);
  --shadow: 0 2px 5px rgba(14, 14, 14, .3);
  --blanco: rgb(255, 255, 255);
  --blancoRGBA: rgba(255, 255, 255, 0.7);
  --fuenteTitulos: 'Source Sans Pro', sans-serif;
  --fuenteTexto: 'Open Sans', sans-serif;
}

/* a {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--principal);
  text-decoration-color: var(--principal);
  text-decoration-thickness: 0.2rem;
  font-family: var(--fuenteTexto);
  color: var(--principal);
} */

h1,
q {
  font-size: clamp(25px, (1.5rem + 1.4vw) * 1.25, 2.5rem);
}

h2 {
  font-size: clamp(20px, (1.4rem + 1vw) * 1.2, 2rem);
  text-align: center;
}

h3 {
  font-size: clamp(18px, (1.2rem + 1vw) * 1.1, 1.8rem);
}

p {
  font-size: clamp(16px, (1rem + 1vw), 1.2rem);
}

h1,
h2,
h3 {
  font-family: var(--fuenteTitulos);
  line-height: 1.2;
}

img {
  border-style: none;
}

b,
strong {
  font-weight: 700;
}

span {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 5;
}

.botones {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-shadow: 0px 1px rgba(150, 129, 129, 0.2);
  text-align: center;
  text-decoration: none;
  color: #FFF;
  padding: 7px 20px;
  white-space: nowrap;
  border-radius: 100px;
  margin: 10px 0;
  transition: all 0.2s ease-in-out;
  background: var(--secundario);
  box-shadow: 0px 5px 0px 0px var(--principal);
  -webkit-animation: heartbeat 1.7s ease-in-out infinite both;
  animation: heartbeat 1.7s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.botones:hover {
  background: var(--accion);
}

.botones:active {
  box-shadow: 0px 2px 0px 0px #C0392B;
}

header {
  position: relative;
  height: 80vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

header img {
  position: absolute;
  top: 0;
  right: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  z-index: -1;
  opacity: 0.7;
  -webkit-animation: kenburns-top-right 7s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.7s alternate both;
  animation: kenburns-top-right 7s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.7s alternate both;
}

@-webkit-keyframes kenburns-top-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 16%;
  }

  100% {
    transform: scale(1.25) translate(20px, -15px);
    transform-origin: right top;
  }
}

@keyframes kenburns-top-right {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 84% 16%;
  }

  100% {
    transform: scale(1.25) translate(20px, -15px);
    transform-origin: right top;
  }
}



q {
  background: rgb(20, 20, 20);
  background: linear-gradient(12deg, rgba(20, 20, 20, 1) 0%, rgba(251, 70, 0, 1) 35%, rgba(253, 166, 0, 1) 100%);
  color: var(--blanco);
  padding: 2rem;
  font-weight: 700;
  font-family: var(--fuenteTitulos);
  box-shadow: var(--shadow);
}

q::before,
q::after {
  font-size: 3rem;
}